<div class="h-100">

    
    
    <mat-tab-group>

        <mat-tab label="ADD COUNTRY" class="h-100">
            <app-country></app-country>
        </mat-tab>

        <mat-tab label="ADD CITY" class="h-100">
                    <app-city></app-city>
        </mat-tab>

        <mat-tab label="ADD FLOOR" class="h-100">
            <app-floor></app-floor>
        </mat-tab>
       
        <mat-tab label="ADD CATEGORY" class="h-100">
            <app-category></app-category>
        </mat-tab>
        <mat-tab label="ADD SERVICE" class="h-100">
            <app-service></app-service>
        </mat-tab>
        <mat-tab label="ADD PROMO RATE" class="h-100">
            <app-promo-rates></app-promo-rates>
        </mat-tab>
 
    <mat-tab label="ADD NOTES" class="h-100">
        <app-coa-notes></app-coa-notes>
    </mat-tab>

   
    
    
    </mat-tab-group>
    
</div>