<div >

    <div class="text-center  mt-3 d-flex justify-content-between p-3"><p class="dialogueTitle">ADD CREDENTIALS</p><mat-icon class="cursorPointer" (click)="closeDialogue()">cancel</mat-icon></div>

    <div class="text-center container-fluid " >

        <div class="text-center ">
            <h3 class="text-danger fw-bold">Remaining AMOUNT: <b>{{remainingAmount |number}}</b></h3>
           
        </div>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date</mat-label>
            <input readonly="true" matInput    [(ngModel)]="paymentDate"
                [matDatepicker]="CDate" >
            <mat-datepicker-toggle matSuffix [for]="CDate"></mat-datepicker-toggle>
            <mat-datepicker #CDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
        <mat-label>Enter Advance Amount</mat-label>
        <input matInput type="number"  [(ngModel)]="paymentAmount">
        </mat-form-field>

      

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Select COA</mat-label>
            <mat-select [(ngModel)]="coaID">
                <mat-option [disabled]="item.coaTitle == 'Cash In Hand'" *ngFor="let item of coaList" [value]="item.coaID">{{item.coaTitle}} </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput  [(ngModel)]="cioRemarks"></textarea>
            </mat-form-field>

        
    </div>
    <div class="justify-content-center d-flex" >
        <button class="btn btn-success btn-save m-1" accesskey="s" (click)="save()"> Save </button>
        <button class="btn btn-danger btn-reset m-1 "  (click)="reset()"> Reset </button>
    </div>

    <div class="p-2">
        <table class="table">
            <thead>
                <th>S#</th>
                <th>Date</th>
                <th>Amount</th>
                <th class="col-lg-4">Remarks</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of paymentHistoryList index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.paymentDate |date:'yyyy-MM-dd'}}</td>
                    <td>{{item.paymentAmount | number:'1.0-0'}}</td>
                    <td>{{item.cioRemarks}}</td>
                    <td><mat-icon *ngIf="item.approvedStatus == false " class="text-danger cursorPointer" (click)="deletePayment(item)">delete</mat-icon>
                        <mat-icon *ngIf="item.approvedStatus == true " class="text-warning">delete_forever</mat-icon></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
