<mat-tab-group>
    <mat-tab label="Booking Form">


       <div class="container p-3">



        <mat-form-field appearance="outline" class="w-50 p-2"> 
            <mat-label>Select Room</mat-label>
            <mat-select [(ngModel)]="RoomID" (selectionChange)="onRoomSelected()">
                <mat-option><ngx-mat-select-search [(ngModel)]="searchRoom"
                    [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                    name="search"></ngx-mat-select-search></mat-option>
                <mat-option *ngFor="let item of RoomList |filter:searchRoom" [value]="item.roomID">{{item.roomTitle}}</mat-option>
            </mat-select>
        </mat-form-field>

        <span class="w-50 "> 
            <mat-form-field appearance="outline" class="col-lg-5 p-2"> 
                <mat-label>Select Customer</mat-label>
                <mat-select [(ngModel)]="partyID">
                    <mat-option><ngx-mat-select-search [(ngModel)]="searchParty"
                        [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                        name="search"></ngx-mat-select-search></mat-option>
                    <mat-option *ngFor="let item of partyList |filter:searchParty" [value]="item.partyID">{{item.partyName}} -({{item.partyCNIC}})</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="btn btn-primary col-lg-1" style="height: 55px;" (click)="addCustomer()">  <mat-icon>add</mat-icon></button>
        </span>


        <mat-form-field class="w-50 p-2" appearance="outline">
            <mat-label>Select Booking Date</mat-label>
            <input readonly="true" matInput   [(ngModel)]="bookingDate"
                [matDatepicker]="bdate" >
            <mat-datepicker-toggle matSuffix [for]="bdate"></mat-datepicker-toggle>
            <mat-datepicker #bdate></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="w-50 p-2"> 
            <mat-label>Rent Per Day</mat-label>
            <input matInput type="number" min="0" class="numOnly" (keypress)="numberOnly($event)"  [(ngModel)]="rentPerDay">
        </mat-form-field>


        <mat-form-field class="w-50 p-2" appearance="outline">
            <mat-label>Arrival Date</mat-label>
            <input readonly="true" matInput  (dateChange)="getTotalDays()"  [(ngModel)]="arrivalDate"
                [matDatepicker]="ADate" >
            <mat-datepicker-toggle matSuffix [for]="ADate"></mat-datepicker-toggle>
            <mat-datepicker #ADate></mat-datepicker>
        </mat-form-field>


          <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Arrival Time</mat-label>
            <input type="time"    matInput [(ngModel)]="arrivalTime" (change)="getTotalDays()" name="week" min="00:00:00" max="24:00:00" />
            
          </mat-form-field>

         



          <mat-form-field class="w-50 p-2" appearance="outline">
            <mat-label>Departure Date</mat-label>
            <input readonly="true" matInput (dateChange)="getTotalDays()"    [(ngModel)]="DepartureDate"
                [matDatepicker]="DDate" >
            <mat-datepicker-toggle matSuffix [for]="DDate"></mat-datepicker-toggle>
            <mat-datepicker #DDate></mat-datepicker>
        </mat-form-field>


          <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Departure time</mat-label>
            <input type="time" (change)="getTotalDays()"   matInput [(ngModel)]="DepartureTime" name="week" min="00:00:00" max="24:00:00"  />
            
          </mat-form-field>


          <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Referred By</mat-label>
            <input type="text"     matInput [(ngModel)]="refrenceName" />
            
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Number Of Person</mat-label>
            <input type="number" min="0" class="numOnly" (keypress)="numberOnly($event)"   matInput [(ngModel)]="numberOfPersons" />
            
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Total Days</mat-label>
            <input type="number" min="0" class="numOnly" (keypress)="numberOnly($event)"     matInput [(ngModel)]="TotalDays" />
            
          </mat-form-field>

          

         

          <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Booking Channel</mat-label>
            <mat-select type="Text"  [(ngModel)]="bookingThrough" >
                <mat-option *ngFor="let item of bookingChannelList" [value]="item.name">{{item.name}}</mat-option>
            </mat-select>
            
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 p-2">
            <mat-label>Description</mat-label>
            <textarea type="Text" rows="5"   matInput [(ngModel)]="bookingDescription"></textarea>
            
          </mat-form-field>




          <div class="text-center"> 
            <Button class="btn btn-success btn-save  w-25 me-3"(click)="save()" >Save</Button>
            <Button class="btn btn-danger btn-reset  w-25" (click)="reset()">Reset</Button>
          </div>



       </div>











    </mat-tab>

    <mat-tab label="Saved Record">

        <div class="container-fluid bg-light ">
            <div>
                <mat-form-field appearance="outline" class="w-75 pt-2">
                    <mat-label>Search.....</mat-label>
                    <input type="text" matInput [(ngModel)]="searchBooking">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-25 ps-2">
                    <mat-label>Select Booking Status</mat-label>
                    <mat-select [(ngModel)]="bookingStaus" (selectionChange)="filterBookings()">
                        <mat-option *ngFor="let item of StatusList" [value]="item.title">{{item.title}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <hr>


            <mat-progress-bar mode="indeterminate" *ngIf="loadingBar == 'start'"></mat-progress-bar>
            <div class="text-center">
                <table class="table table-hover">
                    <thead>
                        <th>S#</th>
                        <th>Booking ID</th>
                        <th>Booking Date</th>
                        <th>Room No</th>
                        <th>Customer Name</th>
                        <th>Rent</th>
                        <th>Arrival</th>
                        <th>Departure</th> 
                        <th>Confirmation Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                        <th>Details</th>
                        <th>Print</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of SavedData | filter: searchBooking |paginate:{
                            itemsPerPage : tableSize,
                            currentPage : page,
                            totalItems :    count,
                        }  ;  index as index">
                        
                            <td>{{index+1}}</td>
                            <td>{{item.bookingID}}</td>
                            <td>{{item.bookingDate |date:'yyyy-MM-dd'}}</td>
                            <td>{{item.roomTitle}}</td>
                            <td>{{item.partyName}}</td>
                            <td>{{item.rentPerDay |number:'1.0-0'}}</td>
                            <td>{{item.dateOfArrival | date:'yyyy-MM-dd'}} </td>
                            <td>{{item.dateOfDeparture | date:'yyyy-MM-dd'}} </td>
                            <td>{{item.confirmationDate | date:'yyyy-MM-dd'}} </td>
                            <td>{{item.bookingStatus}} </td>

                            <td  class="cursorPointer " >
                                <button class="btn btn-success me-2" (click)="confirmBooking(item)" *ngIf="item.bookingStatus == 'Pending' ">Confirm</button>
                                <button class="btn btn-warning me-2"  (click)="confirmBooking(item)"  *ngIf="item.bookingStatus == 'Confirmed' ">Refund</button>

                              
    
                                <button class="btn btn-danger " (click)="cancel(item)" *ngIf="item.bookingStatus == 'Pending' " 
                                data-bs-toggle="modal" data-bs-target="#cancelBookingModel"   >Cancel</button>
                                <span class="text-danger" *ngIf="item.bookingStatus == 'Cancelled' ">Bill Cancelled</span>
                                <span class="text-danger" *ngIf="item.bookingStatus == 'Refunded' ">Bill Refunded</span>
                            </td>
                            <td><mat-icon class="text-success cursorPointer" (click)="getBookingDetail(item)">receipt</mat-icon></td>
                            <td class="cursorPointer"><mat-icon class="text-primary" (click)="printBooking(item)">print</mat-icon></td>
                           
            
                        </tr>
                        
                    </tbody>
                </table>
                <div class="d-flex" >
                    <mat-hint class="me-1 text-secondary">Total Rows : ({{SavedData.length}})    </mat-hint>
                    <pagination-controls
                    previousLabel="Prev"
                    nextLabel="Next"
                    (pageChange)="onTableDataChange($event)"
                    ></pagination-controls>
                    
    
                    <mat-hint class=" me-1 text-secondary">Rows Per Page </mat-hint>
                    <select class="text-white"  style="width: 50px; height: 25px;background-color: rgb(75, 164, 248);" (change)="onTableSizeChange($event)">
                        <option *ngFor=" let item of tableSizes">{{item}}</option>
                    </select>
                    
                </div>
            </div>

         
        </div>


        <!---------------------- Model Window for entering Advance Amount ------------------>

        <div class="modal fade h-100 bg-light " id="cancelBookingModel" tabindex="-1" aria-labelledby="cancelBookingLabel" aria-hidden="true" data-bs-backdrop="false">
            <div class="modal-dialog modal-xl modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="cancelBookingLabel">Cancel Booking</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
               
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Cancellation Remarks</mat-label>
                        <textarea matInput type="number" [(ngModel)]="cancelRemarks"></textarea>
                    </mat-form-field>
                   
        
        
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="cancelBooking()" data-bs-dismiss="modal">Cancel Booking</button>
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
                  </div>
                
              </div>
            </div>
          </div>



          <!---------------------- print Area for Booking Voucher ------------------>


          <div class="d-none " id="printDiv">
            <!-- <div class="text-end ">{{lblVoucherPrintDate |date:'short'}}</div> -->
            <div class="mt-2">
                
                <!-------------------------    Top Logo Section -------------------->
                <div class="text-center border-bottom d-flex justify-content-between">
                    <span>
                        <img src="{{logo}}" style="color: black;" alt="" srcset="" height="100"
                            width="100">
                    </span>
                    <span class="mt-3">
                        <h3 >{{CompanyName}}</h3>
                            <p class="w-75 text-end" style="margin-top: -15;" >{{CompanyName2}}</p>
                        <p style="margin-top: -20;" >{{companyAddress}}</p>
                        <p style="margin-top: -15;">{{companyPhone}}  - {{companyMobileno}}</p>
                        <p style="margin-top: -15;">{{companyEmail}}</p>
                    </span>
                    <span>
                        <img src="{{logo1}}" style="color: black;" alt="" srcset="" height="100"
                            width="100">
                    </span>
            
            
                </div>
        

                <!-------------------------- Headers Area   ----------------------->
               <div class="d-flex">
                <div class="row mt-5"  >

                    <span class="w-50 row ">
                        <h6 class="w-50 fw-bold border-dark">Booking No :</h6>
                        <p class="w-50">{{lblBookingNo}}</p>
                    </span>

                    <span class="w-50 row ">
                        <h6 class="w-50 fw-bold">Booking Date :</h6>
                            <p class="w-50">{{lblBookingDate |date:'yyyy-MM-dd'}}</p>
                    </span >

                    <span class="w-50 row" *ngIf="lblBookingStatus === 'Confirmed' || lblBookingStatus === 'Refunded'|| lblBookingStatus === 'Visited'">
                        <h6 class="w-50 fw-bold">Advance Voucher # :</h6>
                        <p class="w-50">{{lblAdvanceJvNo}}</p>
                    </span>

                    <span class="w-50 row" *ngIf="lblBookingStatus === 'Refunded'" >
                        <h6 class="w-50 fw-bold">Refund Voucher # :</h6>
                        <p class="w-50">{{lblRefundJvNo}}</p>
                    </span>

                    <span class="w-50 row">
                        <h6 class="w-50  fw-bold">Booking Status :</h6>
                            <p class="w-50">{{lblBookingStatus}}</p>
                    </span>
                   
                    <span class="w-50 row">
                        <h6 class="w-50 fw-bold">Booking Through :</h6>
                        <p class="w-50">{{lblBookingChannel}}</p>
                    </span>

                    <span class="w-50 row">
                        <h6 class="w-50 fw-bold">Customer Name :</h6>
                            <p class="w-50">{{lblCustomerName}}</p>
                    </span>

                    <span class="w-50 row">
                        <h6 class="w-50 fw-bold">Customer CNIC :</h6>
                            <p class="w-50">{{lblPartyCNIC}}</p>
                    </span>

                    <span class="w-50 row">
                        <h6 class="w-50 fw-bold">Arrival Date :</h6>
                            <p class="w-50">{{lblArrivalDate |date:'yyyy-MM-dd'}}</p>
    
                    </span>
                    <span class="w-50 row">
                        <h6 class="w-50 fw-bold">Arrival Time :</h6>
                            <p class="w-50">{{lblArrivalTime}}</p>
    
                    </span>
    
                    <span class="w-50 row">
                        <h6 class="w-50 fw-bold">Departure Date :</h6>
                            <p class="w-50">{{lblDepartureDate |date:'yyyy-MM-dd'}}</p>
                    </span>
                    <span class="w-50 row">
                        <h6 class="w-50 fw-bold">Departure Time :</h6>
                            <p class="w-50">{{lblDepartureTime}}</p>
                    </span>

                    <span class="w-50 row"> 
                        <h6 class="w-50 fw-bold">Confirmation Date :</h6>
                        <p class="w-50">{{lblConfirmationDate |date:'yyyy-MM-dd'}}</p>
                    </span>

                    <span class="w-50 row" *ngIf="lblReference == ''"> 
                        <h6 class="w-50 fw-bold">Refrence :</h6>
                        <p class="w-50">{{lblReference }}</p>
                    </span>
    
                    <span class="w-50 row" *ngIf="lblPersons != 0"> 
                        <h6 class="w-50 fw-bold">Persons :</h6>
                        <p class="w-50">{{lblPersons }}</p>
                    </span>

                    <span class="w-50 row">
                        <h6 class="w-50 fw-bold">Remarks :</h6>
                        <p class="w-50">{{lblBookingRemarks}}</p>
                    </span>


                </div>
                
               </div>
               <hr>

               <!-----------------------   Print Table Area --------------------->

               <div>
                <table class="table">
                    <thead>
                        
                        <th>Description</th>
                        <th>Rent</th>
                        <th>Days</th>
                        <th>Total Rent</th>
                        <th>Advance</th>
                        <th>Remaining</th>
                        
                    
                    </thead>

                    <tbody>
                        <tr>
                            <td>{{lblRoomTitle}}</td>
                            <td>{{lblRentPerDay |number:'1.0-0'}}</td>
                            <td>{{lblTotalDays}}</td>
                            <td>{{lblTotalDays * lblRentPerDay |number:'1.0-0'}}</td>
                            <td>{{lblPaidAmount |number:'1.0-0'}}</td>
                            <td>{{(lblTotalDays * lblRentPerDay) -lblPaidAmount |number:'1.0-0'}}</td>
                        </tr>
                    </tbody>
                   
                </table>
               </div>


               <div class="d-flex justify-content-between  mt-5 pt-5">
                <h6 class="border-bottom fw-bold border-dark">Account Officer</h6>
                <h6 class="border-bottom fw-bold border-dark">Front Desk Officer</h6>
                <h6 class="border-bottom fw-bold border-dark">Guest Signature</h6>
               </div>
        
        
        
            </div>
        </div>


    </mat-tab>
</mat-tab-group>
