<div>

    <div class="d-flex justify-content-between cursorPointer p-2 border-bottom">
        <p class="dialogueTitle">CHECK OUT</p>
        <mat-icon (click)="closeDialogue('')">cancel</mat-icon>
    </div>


    <div>

        <div class="text-center ">
            <h3 class="text-danger fw-bold">BALANCE AMOUNT: <b>{{remainingAmount}}</b></h3>
           
        </div>
        <div class="d-flex justify-content-between p-2">
            <mat-form-field appearance="outline" class="w-50 p-2">
                <mat-label>Check In time</mat-label>
                <input type="text" disabled="true"  matInput [(ngModel)]="checkInDate" />
                
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-50 p-2">
                <mat-label>Check In time</mat-label>
                <input type="time" disabled="true"  matInput [(ngModel)]="checkInTime" />
                
              </mat-form-field>
            
        </div>


        <mat-form-field class="w-50  p-2" appearance="outline">
            <mat-label>Check Out Date</mat-label>
            <input readonly="true" matInput  [disabled]="this.roleID == 3"    [(ngModel)]="checkOutDate" (dateChange)="getTotalDays()"
                [matDatepicker]="coDate" >
            <mat-datepicker-toggle matSuffix [for]="coDate" [disabled]="this.roleID == 3"></mat-datepicker-toggle>
            <mat-datepicker #coDate></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Check Out time</mat-label>
            <input type="time"  [disabled]="this.roleID == 3" (change)="getTotalDays()"   matInput [(ngModel)]="checkOutTime" name="week" min="00:00:00" max="24:00:00"  />
            
          </mat-form-field>


          
        <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Amount</mat-label>   
            <input matInput type="number" min="0" [(ngModel)]="balanceAmount"   (keypress)="numberOnly($event)">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Discount</mat-label>   
            <input matInput type="number" min="0" [(ngModel)]="discount"  (keypress)="numberOnly($event)">
        </mat-form-field>


        <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Total Days</mat-label>   
            <input matInput readonly="true" (change)="getTotalDays()" type="number" min="1" [(ngModel)]="totalDays"  (keypress)="numberOnly($event)">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-50 p-2">
            <mat-label>Select COA Title</mat-label>
            <mat-select [(ngModel)]="coaID"  >
                <mat-option><ngx-mat-select-search [(ngModel)]="coaSearch" [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search></mat-option>
                <mat-option  [disabled]="item.coaTitle == 'Cash In Hand'" *ngFor="let item of coaList" [value]="item.coaID">{{item.coaTitle}} </mat-option>
            </mat-select>
            </mat-form-field>


            <div class="text-center p-3">
                <button class="btn btn-success me-2 btn-save"   (click)="insertCheckOut()">SAVE </button>
                <button class="btn btn-danger btn-reset"  (click)="closeDialogue('')">CLOSE </button>
            </div>

    </div>



</div>